body{
    background-color: steelblue;
}
main{
    background-color: white;
    border-radius: 10px;

    display: inline-flex;

    padding: 20px;
}
img{
    width: 64px;
    height: 64px;
    margin: auto;
}
h4{
    color: orange;
}
button{
    background-color: orange;
    color: white;
}
hr{
    width: 1px; 
    size: 100%;

    margin-right: 20px;
}

.block{
    /* justify-content: center; */
    justify-self: center;
    text-align: center;

    margin-right: 20px;
}